/* Css document */
*, *::after, *::before{
    margin: 0;
    box-sizing: border-box;
}

/* Algemene custom properties */
:root{
    --main-color:#fff;
    --background-color:#000;

    --p-color:#fff;
    --link-hover-color:;

    --button-color:;
    --button-background-color:;

    --h1-color:#fff;
    --h2-color:;
    --h3-color:;

    --white-space:;

    --normal-padding:;
    --normal-margin:;

    --font-family:;
    --font-family-sans:;

    --font-size:1em;
    --font-size:1.2em;
    --font-size-h1: 2em;
    --font-size-h2: 1.8em;
    --font-size-h3: 1.6em;
    --font-size-h4: 1.4em;

    --letter-spacing: .5em;
    --letter-spacing-inline: .2em;
}

/*Algemene styling*/
body{
    background-color: var(--background-color);
}

/*Titels*/
h1{
    color: var(--h1-color);
    font-size: var(--font-size-h1);
}

/* Text */
p{
    color: var(--p-color);
    font-size: var(--font-size);
}

